<h3 style="text-align: center;padding: 10px;">Update Employee</h3>
<div [hidden]="submitted">
  <form (ngSubmit)="updateEmployee()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName"
            name="firstName">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName"
            name="lastName">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Email Id</label>
          <input type="email" class="form-control" id="emailId" required [(ngModel)]="employee.email" name="email">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="name">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="employee.phoneNumber"
            name="phoneNumber">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Hire Date</label>
          <input type="date" class="form-control" id="hireDate" required [(ngModel)]="employee.hireDate" name="hireDate">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="name">salary</label>
          <input type="text" class="form-control" id="salary" required [(ngModel)]="employee.salary" name="salary">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Department</label>
          <select class="form-control" (change)="changeDepartment($event)">
            <option>Select Department</option>
            <option *ngFor="let department of departments" value="{{department.id}}">{{department.departmentName}}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="name">Manager</label>
          <select class="form-control" (change)="changeManager($event)">
            <option>Select Manager</option>
            <option *ngFor="let manager of managers" value="{{manager.id}}">{{manager.managerName}}</option>
          </select>
        </div>
        
      </div>

    </div>
    <div class="row" *ngIf="errorMessage">
      
      <span><pre>{{ errorMessage | json }}</pre></span>
      
    </div>
    <button  style="margin-top: 40px;" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>